<div class="container">
    <h1 class="title">User profile</h1>
    <div class="card">
        <img class= "card__image" src="photo1.jpg" alt="photo1">
        <span class="card__title" >Oubaida OUEDRAOGO</span>
        <span class="card__subtitle">Ouaga,Burkina Faso</span>
        <div class="card__Links">
            <div class="card__Links--item">Github</div>
            <div class="card__Links--item">Linkedin</div>
            <div class="card__Links--item">Twitter</div>
        </div>
    </div>
</div>